$color-white: white;
$color-black: black;

$color-generic: teal;

$color-text-base: #333;

$color-grey-shade-4: #444;
$color-grey-shade-c: #ccc;

$color-airport: dimgray;
$color-poi: cornflowerblue;
$color-hotel: goldenrod;

$color-beach: dodgerblue;
$color-city: crimson;
$color-villa: rebeccapurple;

$color-whitesmoke: whitesmoke;

