.map {
    position: relative;
    display: flex;
    height: calc(100vh - 40px);

    &__gmap {
        width: 100%;
        padding: 100px 0 0;
        background-color: #ccc;
    }

    &__aside {
        width: 300px;
        flex-shrink: 0;
    }

    &__back-to-level,
    &__controls {
        position: absolute;
        left: 20px;
        top: 20px;

        &.is-hidden {
            display: none;
        }
    }
}

.loadmore {
    //display: none;

    &.is-loading {
        //: block;
    }
}
