.map {
    position: relative;
    display: flex;
    height: 70vh;

    &__gmap {
        width: 100%;
        background-color: #ccc;
    }

    &__aside {
        width: 300px;
    }

    &__level-back {
        position: absolute;
        left: 20px;
        top: 20px;
    }
}
