.map {
    position: relative;
    display: flex;
    height: 70vh;

    &__gmap {
        width: 100%;
        padding: 100px 0 0;
        background-color: #ccc;
    }

    &__aside {
        width: 300px;
    }

    &__back-to-level,
    &__controls {
        position: absolute;
        left: 20px;
        top: 20px;

        &.is-hidden {
            display: none;
        }
    }
}
