.marker {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color: lightsteelblue;
    color: white;
    cursor: pointer;

    &--airport {
        background-color: dimgray;
    }

    &--poi {
        background-color: midnightblue;
    }
    
    &--hotel {
        background-color: goldenrod;
    }

    &.is-active {
        transform: scale(1.2);
    }
}

.marker-dest {
    display: inline-block;
    margin: 5px;
    padding: 10px 12px;
    border: 1px solid crimson;
    background-color: whitesmoke;
    color: crimson;
    cursor: pointer;
}

