.marker {
    $block: '.marker';
    display: none;
    vertical-align: middle;
    min-width: 29px;
    margin: 5px;
    padding: 5px;
    background-color: lightsteelblue;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;

    &__title {
        display: none;
    }

    &--airport {
        background-color: $color-airport;

        &.is-hover,
        &.is-active {
            #{$block}__title {
                display: inline-block;
            }
        }
    }

    &--poi {
        background-color: cornflowerblue;
    }
    
    &--hotel {
        background-color: goldenrod;
    }

    &.is-visible {
        display: inline-block;
    }

    &.is-hover {
        transform: scale(1.2);
    }

    &.is-active {
        background-color: #444;
        transform: scale(1.2);
    }
}

.marker-dest {
    display: none;
    vertical-align: middle;
    margin: 5px;
    padding: 10px 12px;
    border: 2px solid;
    background-color: whitesmoke;
    cursor: pointer;
    user-select: none;

    &.is-visible {
        display: inline-block;
    }

    &.is-hover {
        color: white;
    }

    &--beach {
        border-color: dodgerblue;
        color: dodgerblue;

        &.is-hover {
            background-color: dodgerblue;
        }
    }

    &--city {
        border-color: crimson;
        color: crimson;

        &.is-hover {
            background-color: crimson;
        }
    }

    &--villas {
        border-color: rebeccapurple;
        color: rebeccapurple;

        &.is-hover {
            background-color: rebeccapurple;
        }
    }
}

.marker-child {
    $block: '.marker-child';
    display: none;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    user-select: none;

    &__heading {
        display: none;
        padding: 5px 10px;
        background-color: whitesmoke;
        border: 2px solid;
        border-radius: 4px;
    }

    &__pin {
        width: 30px;
        height: 30px;
        border: 2px solid;
        border-radius: 50%;
        background-color: whitesmoke;
    }

    &.is-visible {
        display: inline-block;
    }

    &.is-hover {

        #{$block}__pin {
            display: none;
        }

        #{$block}__heading {
            display: inline-block;
        }
    }

    &--beach {
        border-color: dodgerblue;
        color: dodgerblue;
    }

    &--city {
        border-color: crimson;
        color: crimson;
    }

    &--villas {
        border-color: rebeccapurple;
        color: rebeccapurple;
    }
}

