.image-cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-dest {
    $block: '.card-dest';
    display: none;
    position: relative;
    height: 100px;
    user-select: none;
    cursor: pointer;

    &__image {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__heading {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        padding: 5px 10px;
        background-color: white;
        border: 2px solid;
        font-weight: 500;
    }

    &.is-visible {
        display: block;
    }

    &.is-visible ~ &.is-visible {
        margin-top: 10px;
    }

    &.is-hover {

        #{$block}__heading {
            color: white;
        }
    }

    &--beach {
        background-color: lighten(dodgerblue, 10%);

        #{$block}__heading {
            border-color: dodgerblue;
            color: dodgerblue;
        }
    }

    &--beach.is-hover {

        #{$block}__heading {
            background-color: dodgerblue;
        }
    }

    &--city {
        background-color: lighten(crimson, 10%);

        #{$block}__heading {
            border-color: crimson;
            color: crimson;

            //It is doesn't work
            //#{$block}--city.is-hover & {
            //    background-color: crimson;
            //}
        }
    }

    &--city.is-hover {

        #{$block}__heading {
            background-color: crimson;
        }
    }

    &--villas {
        background-color: lighten(rebeccapurple, 10%);

        #{$block}__heading {
            border-color: rebeccapurple;
            color: rebeccapurple;
        }
    }

    &--villas.is-hover {

        #{$block}__heading {
            background-color: rebeccapurple;
        }
    }
}

.card {
    $this: &;
    display: none;
    background-color: whitesmoke;

    &__figure {
        position: relative;
        height: 150px;
        overflow: hidden;
    }

    &__content {
        padding: 10px 15px 20px;
    }

    &__heading {
        letter-spacing: 2px;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__heading + &__summary {
        margin-top: 10px;
    }

    &__footer {
        display: table;
        width: 100%;
        height: 40px;
        border-top: 1px solid;
    }

    &__btn {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        height: 30px;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    &__btn:first-child {
        border-right: 1px solid;
    }

    & + & {
        margin-top: 10px;
    }

    &.is-visible {
        display: block;
    }

    &--poi {

        #{$this}__figure {
            background-color: cornflowerblue;
        }

        #{$this}__heading {
            color: cornflowerblue;
        }

        #{$this}__footer {
            border-color: cornflowerblue;
        }

        #{$this}__btn {
            color: darken(cornflowerblue, 5%);

            &:hover,
            &:focus {
                background-color: cornflowerblue;
                color: white;
            }

            &:active {
                background-color: lighten(cornflowerblue, 5%);
            }
        }

        &__btn:first-child {
            border-color: cornflowerblue;
        }
    }

    &--hotel {

        #{$this}__figure {
            background-color: goldenrod;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient( to right bottom, transparent 65%, rgba(0,0,0,0.15) );
            }
        }

        #{$this}__stars {
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 10;
            color: $color-white;
        }

        #{$this}__heading {
            color: goldenrod;
        }

        #{$this}__footer {
            border-color: goldenrod;
        }

        #{$this}__btn {
            color: darken(goldenrod, 5%);

            &:hover,
            &:focus {
                background-color: goldenrod;
                color: white;
            }
            &:active {
                background-color: lighten(goldenrod, 5%);
            }
        }

        &__btn:first-child {
            border-color: goldenrod;
        }
    }

    &--details {
        #{$this}__btn {
            border-right: none;
        }
    }
}

.loc-overview {
    &__heading {
        margin-top: 10px;
        border-bottom: 2px solid;
        font-size: 1.5rem;
        font-weight: 700;
        color: cornflowerblue;
        text-transform: uppercase;
    }

    &__summary {
        line-height: 1.5;
    }

    &__heading + &__summary {
        margin-top: 15px;
    }

    &__more {
        display: block;
        padding: 10px 10px;
        background-color: cornflowerblue;
        color: white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background-color: darken(cornflowerblue, 5%);
        }
    }

    &__summary + &__more {
        margin: 30px 0;
    }
}
