.card-dest {
    //background-color: lightcoral;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    //font-size: 24px;
    letter-spacing: 2px;

    &--beach {
        background-color: lighten(dodgerblue, 10%);
    }

    &--city {
        background-color: lighten(crimson, 10%);
    }

    &--villas {
        background-color: lighten(rebeccapurple, 10%);
    }
}

.card-poi {
    background-color: cornflowerblue;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    //font-size: 24px;
    letter-spacing: 2px;
}

.card-hotel {
    background-color: goldenrod;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    //font-size: 24px;
    letter-spacing: 2px;
}
