<div class="card-dest {{viewModifiers}}" data-dm-elem="card" data-dm-pin-id="{{ id }}">
    <img class="image-cover" src="{{imgURL}}" alt="">
    <div class="card-dest__heading">{{ title }}</div>
</div>
