<div class="card-dest {{ viewModifiers }} js-view" data-id="{{ id }}">
    <div class="card-dest__figure">
        <img src="//placehold.it/200x50" alt="">
    </div>
    <div class="card-dest__heading">{{ title }}</div>
</div>
