<div class="card-poi {{ modifierMarkerList}} js-view" data-id="{{ id }}">
    <div class="card-poi__figure">
        <img src="//placehold.it/200x100" alt="">
    </div>
    <div class="card-poi__heading">{{ title }}</div>
    <div class="card-poi__summary">{{{ summary }}}</div>    
    <a href="/to-poi-page" target="_blank">Show more</a>
</div>
