<div class="card-hotel {{ modifierList}} js-view" data-id="{{ id }}">
    <div class="card-hotel__figure">
        <img src="//placehold.it/200x100" alt="">
    </div>
    <div class="card-hotel__heading">{{ title }}</div>
    <div class="card-hotel__summary">{{{ summary }}}</div>
    <a href="/to-hotel-page" target="_blank">Show more</a>
</div>
