<div class="loc-overview">
    <div class="loc-overview__heading">{{ title }}</div>
    <div class="loc-overview__summary">{{{ summary }}}</div>
    <a class="loc-overview__more" href="/to-location">More</a>
</div>
