<div class="marker {{ markerModifiers }}" data-dm-elem="marker" data-dm-pin-id="{{ id }}">
    <span class="marker__icon">
        <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
    </span>
    <span class="marker__title">{{ title }}</span>
</div>

