<div class="marker-child {{ markerModifiers }}" data-dm-elem="marker" data-dm-pin-id="{{ id }}">
    <div class="marker-child__heading">{{ title }}</div>
    <div class="marker-child__pin"></div>
</div>

