<div class="poi-view {{ modifierList}} js-view" data-id="{{ id }}">
    <div class="poi-view__figure">
        <img src="" alt="" width="200" height="150">
    </div>
    <div class="poi-view__heading">{{ title }}</div>
    <div class="poi-view__summary">{{{ summary }}}</div>    
    <a href="/to-poi-page">Show more</a>
</div>
